#!/bin/bash

PREFIX="[CHEZMOI]"


{{ if (or (eq .chezmoi.osRelease.id "arch") (eq .chezmoi.osRelease.idLike "arch")) -}}
# Install Git and Yay
if ! command -v yay &> /dev/null
then
    if ! command -v git &> /dev/null
    then
        echo "$PREFIX git could not be found, installing..."
        sudo pacman -Sy --needed --noconfirm git
    fi
    echo "$PREFIX yay could not be found, installing..."
    echo "$PREFIX yay could not be found, installing..."
    cd $(mktemp -d)    
    git clone https://aur.archlinux.org/yay.git
    cd yay
    makepkg -sic
    cd ~
fi

# Some default yay configs for ease of use
if [ ! -f $HOME/.config/yay/config.json ]; then
    echo "$PREFIX '$HOME/.config/yay/config.json' not found, configuring yay..."
    yay --save --answerdiff None --answerclean None --removemake
fi

# Packages!
echo "$PREFIX Updating packages..."
yay -Syu

# Save variables to not lose them in range scope
{{ $packages := .packages.arch -}}
{{ $releaseId := .chezmoi.osRelease.id -}}
# Categories need to be added manually to guarantee correct order
{{ $categories := (list "essential" "extra" "development" "gaming") -}}
{{ range $category := $categories -}}
echo "---------- Start {{ $category }} install ----------"
echo
echo "[{{ title $category }} packages]
{{ get $packages $category | toYaml}}"
read -p "Do you want to install {{ $category }} packages?[Y/n] " -n 1 -r
echo    # (optional) move to a new line
if ! [[ $REPLY =~ ^[Nn]$ ]]
then
    {{ if (get (get $packages $category) "native") -}}
    echo "$PREFIX Installing native packages (pacman)..."
    sudo pacman -S --needed --noconfirm {{ range (get $packages $category).native -}}{{ . }} {{ end }}
    {{ end -}}
    {{ if (get (get $packages $category) "aur") -}}
    echo "$PREFIX Installing aur packages (yay)..."
    yay -S --noconfirm --needed {{ range (get $packages $category).aur -}}{{ . }} {{ end }}
    {{ end -}}
    {{ if (get (get $packages $category) "flatpak") -}}
    echo "$PREFIX Installing flatpak packages..."
    flatpak install flathub {{ range (get $packages $category).flatpak -}}{{ . }} {{ end }}-y
    {{ end -}}
    {{ if eq $releaseId "endeavouros" -}}
    {{ if (get (get $packages $category) "endeavouros") -}}
    echo "$PREFIX Installing EndeavourOS specific packages (yay)..."
    yay -S --noconfirm --needed {{ range (get $packages $category).endeavouros -}}{{ . }} {{ end }}
    {{ end -}}
    {{ end -}}
fi
echo "---------- End {{ $category }} install ----------"
{{ end }}
{{ end -}}