#!/bin/bash

PREFIX="[CHEZMOI]"


{{ if (or (eq .chezmoi.osRelease.id "arch") (.chezmoi.osRelease.idLike "arch")) -}}
if ! command -v yay &> /dev/null
then
    if ! command -v git &> /dev/null
    then
        echo "$PREFIX git could not be found, installing..."
        sudo pacman -Sy --needed --noconfirm git
    fi
    echo "$PREFIX yay could not be found, installing..."
    echo "$PREFIX yay could not be found, installing..."
    cd $(mktemp -d)    
    git clone https://aur.archlinux.org/yay.git
    cd yay
    makepkg -sic
    cd ~
fi

echo "$PREFIX Configuring yay..."
yay --save --answerdiff None --answerclean None --removemake

echo "$PREFIX Installing native packages (pacman)..."
sudo pacman -Sy --needed --noconfirm {{ range .packages.arch.native -}}{{ . }} {{ end }}
echo "$PREFIX Installing aur packages (yay)..."
yay -Sy --noconfirm --needed {{ range .packages.arch.aur -}}{{ . }} {{ end }}
echo "$PREFIX Installing flatpak packages..."
flatpak install flathub {{ range .packages.arch.flatpak -}}{{ . }} {{ end }}-y

{{ if eq .chezmoi.osRelease.id "endeavouros" }}
echo "$PREFIX Installing EndeavourOS specific packages (yay)..."
yay -Sy --noconfirm --needed {{ range .packages.arch.endeavouros -}}{{ . }} {{ end }}
{{ end }}
{{ end -}}