#!/bin/bash
{{ if eq .chezmoi.osRelease.id "endeavouros" -}}
yay -Sy --needed firefox ufw eza btop chezmoi kitty python-pillow picom peek p7zip ranger fzf ripgrep bat rustup nvm neofetch zsh zsh-syntax-highlighting zsh-autosuggestions starship zoxide wget vim nano nano-syntax-highlighting man-db man-pages texinfo tldr visual-studio-code-bin ttf-jetbrains-mono-nerd ttf-font-awesome ttf-opensans nerd-fonts-git noto-fonts noto-fonts-emoji mirage
{{ end -}}