#!/bin/bash

PREFIX="[CHEZMOI]"

# Install Rust
echo "$PREFIX Setting up Rust..."
rustup default stable

# Setup no-root docker
echo "$PREFIX Configuring Docker..."
sudo groupadd docker
sudo usermod -aG docker {{ .chezmoi.username }}

{{ if eq .chezmoi.osRelease.id "endeavouros" }}
read -p "Do you want to run nvidia-inst?[y/N] " -n 1 -r
echo    # (optional) move to a new line
if [[ $REPLY =~ ^[Yy]$ ]]
then
    echo "$PREFIX Setting up NVIDIA..."
    nvidia-inst
fi

read -p "Do you want to change envycontrol mode to nvidia?[y/N] " -n 1 -r
echo    # (optional) move to a new line
if [[ $REPLY =~ ^[Yy]$ ]]
then
    echo "$PREFIX Switching up to NVIDIA..."
    sudo envycontrol -s nvidia
fi
{{ end }}
