#!/bin/bash

{{ if eq .localEnv.desktop "hyprland" -}}
echo "{{ .scriptPrefix }} Setting up Hyprland..."

# Enable Bluetooth
if command -v bluetoothctl &> /dev/null
then
    echo "{{ .scriptPrefix }} Setting up Bluetooth..."
    sudo systemctl enable bluetooth --now
fi

echo "{{ .scriptPrefix }} Setting up Hyprland plugins..."
hyprpm update
hyprpm add https://github.com/Duckonaut/split-monitor-workspaces # Add the plugin repository
hyprpm enable split-monitor-workspaces # Enable the plugin
hyprpm reload # Reload the plugins

echo "{{ .scriptPrefix }} Setting up Hyprland wallpapers..."
if ! [[ -e $HOME/Pictures/wallpapers/wallpaper1 ]]; then
    ln -s $HOME/{{ .localEnv.wallpaper1 }} $HOME/Pictures/wallpapers/wallpaper1
    ln -s $HOME/{{ .localEnv.wallpaper2 }} $HOME/Pictures/wallpapers/wallpaper2
fi

read -p "Do you want to install/replace the SDDM theme config? [y/N] " -n 1 -r
echo
if [[ $REPLY =~ ^[Yy]$ ]] then
echo "{{ .scriptPrefix }} Setting up SDDM..."
sudo mkdir -p /etc/sddm.conf.d/
sudo bash -c "echo \"[Theme]
Current=catppuccin-mocha\" > /etc/sddm.conf.d/theme.conf"
fi
{{ end -}}