# https://wiki.hyprland.org/Configuring/Variables/#input
input {
    {{ if eq .localEnv.keyboard "es" -}}
    kb_layout = latam, us
    {{ else -}}
    kb_layout = us, us
    kb_variant = basic, intl
    {{ end -}}
    follow_mouse = 0 # Window focus on hover
    float_switch_override_focus = 1
    touchpad {
        natural_scroll = false
    }
    kb_options = grp:win_space_toggle
}